/* .heading{
    color: blue;
    background-color: yellow;
}

body{
    background-color: peachpuff;
}

button{
    background-color: blue;
    color: white;
} */

/* #box{
    height: auto;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
} */

.para2{
    color: red;
}

.newClass{
    background-color: green;
}